* {
    margin: auto;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    overflow: hidden;
    height: 96vh;
    background-color: #683496;
    background-size: cover;
    background-position: top;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: rgb(86, 86, 86);
}

i.fas {
    font-size: 1.7rem;
    color: #683496;
    padding-right: 5px;
}
.row.input-area {
    border: 0;
    border-bottom: .2rem solid rgb(104 52 150 / 50%);
}

.in-title {
    color: #683496;
    text-align: center;
    border: 0;
    border-bottom: 0.5px solid rgb(104 52 150 / 10%);
}

/* Clearfix */
.row::after {
    content: "";
    display: table;
    clear:both;
}

.container {
    position: absolute;
    overflow: hidden;
    border-radius: 1rem;
    background-color: #fffffff2;
    padding: 1.5rem;
    z-index: 1;
    margin: 1rem;
}

.location-label{
    font-size: 1.6rem;
    float: left;
    width: 5%;
    margin-top: .6rem;
}

.location-input {
    float: left;
    width: 95%;
    margin-top: .6rem;
    position: relative;
}

.location-input i {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    width: 2.6rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#getLocation {
    cursor: pointer;
    color: #6834963d;
}

#getLocation:hover {
    color: #683496;;
}

.location-input::-webkit-input-placeholder {
    color: #c09fdd;
}

input {
    height: 30px;
    width: 100%;
    border: 0;
    outline: none;
    font-size: 1.3rem;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 450;
    color: #683496;
    background-color: transparent;
}

input::placeholder {
    font-size: 14px;
    font-weight: normal;
}

input:focus::placeholder {
    color: white;
}

::-moz-placeholder, ::-ms-placeholder, ::placeholder {
    color: #c09fdd;
}

.button {    
    background-image: linear-gradient(to top, #683496 0%, #6f86d6 100%);
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    color: white;
    padding: 1.2rem 2.2rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    float: right;
    margin-right: .5rem;
    transition: ease-in-out .1s;
}

.button:hover {    
    background-image: linear-gradient(-225deg, #A445B2 0%, #683496 52%, #571e88 100%);
    transform: scale(1.015);
    transition: ease-in .1s;
}

.result-table {
    font-size: 1.35rem;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#route-panel {
    font-family: "Roboto", "sans-serif";
    font-size: 13px;
    width: 30%;
    max-height: 100%;
    position: absolute;
    overflow-y: auto;
    top: 0;
    right: 0;
}

.route-hidden {
    display: none;
}

.route-show {
    display: block;
}

#route-panel > div {
    padding: 1rem;
    background-color: #fff;
}

#route-panel select,
#route-panel input {
    font-size: 16px;
}

#route-panel select {
    width: 100%;
}

#route-panel i {
    font-size: 14px;
}

#toggleRoute {
    position: fixed;
    z-index: 3;
    right: 0;
    top: 0;
    margin: 0;
    margin: 1rem;
    padding: .5rem;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(86, 86, 86);
    background-color: rgb(255 255 255 / 100%);
}

#toggleRoute:hover {
    color: rgb(104 52 150 / 100%);
}

#iconToggleSearch {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    font-size: 12px;
    cursor: pointer;
    color: rgb(104 52 150 / 50%);
}

#iconToggleSearch:hover {
    color: rgb(104 52 150 / 100%);
}

#iconToggleSearch.fa-plus {
    padding: 2px;
    color: gray;
    background-color: #ffffff;
}

.transparentStyle {
    background-color: transparent;
}

.container-map {
    position: absolute !important;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.panel {
    height: 100%;
    overflow: auto;
}

.selector-control {
    font-size: 14px;
    line-height: 30px;
    border: 0;
    border-radius: 2px;
    margin: 0.5rem;
    padding: .5rem;
    outline: none;
    color: rgb(86, 86, 86);
    background-color: rgb(255, 255, 255);
}

.footer {
    font-size: 1.3rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.footer a {
    color: hsla(0, 0%, 100%, 0.75);
    text-decoration: none;    
}

.info-small {
    font-size: 1.3rem;
    font-style: italic;
}

.highlight-bold {
    font-weight: bold;
    color: #683496;
}

/* Animate */
.result-table,
#route-panel,
#direction-form,
#direction-title {
    /* Animation */
    animation-name: moveIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.fadeOut {
    /* Animation */
    animation-name: moveOut;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    display: none;
}

/* Animations */
@keyframes moveIn {
    0% {
      opacity: 0;
      transform: translateY(-.5rem);
    }
    
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes moveOut {
    0% {
      opacity: 1;
      transform: translateY(-.5rem);
    }
    
    100% {
      opacity: 0;
      transform: translateY(0);
    }
}

/* Media */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 95%;
    }

    #route,
    #route-panel {
        width: 100%;
        z-index: 2;
    }

    #style-selector-control {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        width: 50rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        width: 50rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        width: 50rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        width: 50rem;
    }
}
